body{
    background-color:darkgreen;
}

.Style1 {
    background-color: blue;
    border:none;
    color:whitesmoke;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    box-shadow: -1px 15px 19px -5px rgba(0,0,0,0.84);
-webkit-box-shadow: -1px 15px 19px -5px rgba(0,0,0,0.84);
-moz-box-shadow: -1px 15px 19px -5px rgba(0,0,0,0.84);
}



.Style4{
    background-color:darkmagenta;
    position:absolute;
    top:9%;
    left:2%;
    border:double;
    border-style:solid;
    cursor:pointer;
    box-shadow: 0px 0px 33px 6px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 33px 6px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 33px 6px rgba(0,0,0,1);
}

.Style5{
    background-color:aqua;
    border-style: dashed;
    border-color: yellow;
    position:absolute;
    top:20%;
    left:40%;
    box-shadow: 0px 7px 52px 27px rgba(0,0,0,0.77);
-webkit-box-shadow: 0px 7px 52px 27px rgba(0,0,0,0.77);
-moz-box-shadow: 0px 7px 52px 27px rgba(0,0,0,0.77);
}

.Style6 {
    position:absolute;
    top:40%;
    left:46.5%;
    background-color:chartreuse;
    border:none;
    box-shadow: 0px 7px 27px 4px rgba(0,0,0,0.76);
-webkit-box-shadow: 0px 7px 27px 4px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 7px 27px 4px rgba(0,0,0,0.76);
}

.Style7 {
    background-color:white;
    position:absolute;
    top:91.5%;
    left:0%;
    border:none;
    border-top-style:groove;
    border-top-color: black;
    width:100%;
    font-size:larger;
    box-shadow: -1px -12px 33px 4px rgba(0,0,0,0.86);
-webkit-box-shadow: -1px -12px 33px 4px rgba(0,0,0,0.86);
-moz-box-shadow: -1px -12px 33px 4px rgba(0,0,0,0.86);
}